body {
    background: linear-gradient(to right, #faaca8, #ddd6f3);
}
.header-title {
    margin: 0;
    font-weight: 600;
    font-size: 2.4rem;
    padding: 20px;
    background: linear-gradient(to right, #4158d0, #c850c0, #ffcc70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
