.container {
    display: flex;
    margin: 20px 30px;
    justify-content: space-between;
    align-items: center;
}
.form {
    width: 300px;
    background: #ddd6f3;
    border-radius: 10px;
    padding-bottom: 10px;
}
.form_heading,
.table_heading {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    color: #4158d0;
    border-bottom: 1px solid #4158d0;
}
.table_heading {
    border-bottom: none;
}
.form_group:first-child {
    padding-top: 10px;
}
.form_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
.form_label {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #4158d0;
}
.form-input {
    width: 170px;
    height: 20px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_add,
.btn_update {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4158d0;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 10px;
}
.btn-inner {
    color: #4158d0;
    font-weight: 600;
    padding: 10px 0;
}

.btn_add:hover,
.btn_update:hover {
    transition: 1s ease-in-out;
    background: #e9c3d2;
}
.btn_inForm {
    color: #4158d0;
    font-weight: 400;
    cursor: pointer;
    background: #faaca8;
    border: 1px solid #4158d0;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 3px;
}
.btn-text {
    padding: 0 5px;
}
table {
    margin-bottom: 10px;
}
table,
table th,
table td {
    padding: 5px;
    border: 1px solid #000;
}
.pagination .page-item.active .page-link {
    padding: 10px;
    border-color: #4158d0;
}
.visually-hidden {
    display: none;
}
